body {
  margin: 0;
  padding: 0;
  width: 500px;
  height: 500px;
}

#content {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.login-page {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

.form-signin {
  z-index: 100;
  position: relative;
  background: none;
  margin-top: auto;
  margin-bottom: auto;
}

#map {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -100;
}
